* {
  padding: 0;
  margin: 0;
}

.content .header {
  padding-bottom: 15px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2e2e;
  color: white;
}

.content .header-logo {
  font-family: "Revalia";
  font-size: 25px;
}

.content .header-logo img, .content .header-logo span {
  display: block;
  padding: 0;
  margin: 0 auto;
}

.content .header-logo img {
  width: 41px;
}

.content .header-logo .text {
  text-shadow: #00b8f0 0px 1.5px;
}

.content .header-search {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20px;
}

.content .header-search img {
  width: 22px;
}

.content .header-search input {
  max-width: 130px;
  color: white;
  margin-left: 10px;
  font-size: 22px;
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid white;
}

@media screen and (max-width: 640px) {
  .content .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content .header-search {
    display: none;
  }
  .content .header-logo img {
    margin-top: -15px;
  }
}

.content .header-linkToLogin {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .header-linkToLogin .cart, .content .header-linkToLogin .account {
  font-weight: 500;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .header-linkToLogin .cart-img, .content .header-linkToLogin .account-img {
  padding-bottom: -20px;
}

.content .header-linkToLogin .cart img, .content .header-linkToLogin .cart span, .content .header-linkToLogin .account img, .content .header-linkToLogin .account span {
  width: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 420px) {
  .content .header .cart, .content .header .account {
    padding: 0;
    margin: 0;
  }
}

.content .subheader {
  font-family: "Roboto";
  background-color: #212121;
  text-align: center;
}

.content .subheader ul li {
  cursor: pointer;
  color: white;
  padding: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.content .subheader ul li:hover {
  text-shadow: #00b8f0 1.5px 1.5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.content .splide {
  text-align: center;
}

.content .clothes {
  text-align: center;
}

.content .clothes .line {
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 2px solid black;
}

.content .clothes .collection {
  padding-top: 30px;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .clothes .collection-clothes {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1560px) {
  .content .clothes .collection-clothes {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 780px) {
  .content .clothes .collection-clothes {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.content .clothes .collection-clothes .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .clothes .collection-clothes .item span {
  padding: 15px;
}

.content .clothes .collection-clothes .item img {
  cursor: pointer;
  max-width: 360px;
}

.content .clothes .collection-clothes .item img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -7px -7px #00b8f0;
          box-shadow: -7px -7px #00b8f0;
}

@media screen and (max-width: 373px) {
  .content .clothes .collection-clothes .item img {
    max-width: 250px;
  }
}

.content .footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  background-color: #2e2e2e;
}

.content .footer .aboutUs {
  text-align: center;
}

.content .footer .aboutUs img {
  cursor: pointer;
  margin-top: 10px;
  width: 40px;
}
/*# sourceMappingURL=app.css.map */